h1{
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
    font-weight: bolder;
}
  
  img {
    width: 500px;
    height: 500px;
  }


.bloque1, .bloque2, .bloque3{
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background: red transparent;
    margin-left: 100px;
    margin-top: 100px;
}

.bomba1, .bomba2, .bomba3{
    width: 500px;
    height: 500px;   
}


#bomba2{
    width: 500px;
    height: 500px;
    background-image: url(/img/bomba.jpg);  
}

#bomba2:hover{
    background-image: url(/img/bomba-explotando.jpeg);
}